html {
   background-image: url("images/BolkvisR.png");
   background-color: rgba(128, 128, 128, 0.99);
   min-height: 100%;
   background-position: center;
   background-repeat: repeat;
   background-size: 7%;
   background-attachment: fixed;
   min-height: 100%;
   margin: 0;
   padding: 0;
}

body {
   font: 14px "arial";
   height: 100%;
}

section {
   max-width: 40em;
   min-height: 100%;
   margin-left: 2em;
   margin-top: 2em;
   padding: 2em;
   border: 5px solid;
   border-color: #800000;
   border-radius: 10px;
   background: #D3D3D3;
}

h1 {
   color: #800000;
   font-size: xx-large;
   margin-top: -0.2cm
}

input[type=button],
input[type=submit],
button {
   background: #4a0b0b;
   background: -webkit-gradient(linear, left top, left bottom, from(#800000), to(#4a0b0b));
   background: -webkit-linear-gradient(top, #800000, #4a0b0b);
   background: -moz-linear-gradient(top, #800000, #4a0b0b);
   background: -ms-linear-gradient(top, #800000, #4a0b0b);
   background: -o-linear-gradient(top, #800000, #4a0b0b);
   padding: 6px 12px;
   -webkit-border-radius: 11px;
   border-radius: 11px;
   color: white;
}

label.required-missing {
   color: red;
}

input.required-missing,
.radio-group.required-missing {
   border: 1px dashed red;
   
}
